**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/README.md
**/LICENSE
**/.idea
Logs/
**/logs/
*.db
*.db-shm
*.db-wal
